:root {
    --white: #f7f7f7;
    --gray: #464646;
    --green: #77bb8d;
}

* {
    box-sizing: border-box;
}

body, html, ul {
    margin: 0;
    padding: 0;
}

body {
    color: var(--gray);
    background-color: var(--white);
    font-family: "Inter", sans-serif;
}

a {
    font-weight: bold;
    color: var(--gray);
    text-decoration: none;
    transition: .3s ease;
}

a:hover {
    color: var(--green);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.site__home {
    gap: 3rem;
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.home__sidebar {
    width: 300px;
    flex-shrink: 0;
}

.home__content h1 {
    margin: 0 0 2rem;
    font-size: 6rem;
    font-weight: 800;
    line-height: 4rem;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.home__content h1 img {
    display: none;
}

.home__content h1 span {
    display: block;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 0px;
    text-transform: none;
}

.home__content p {
    margin-bottom: 3rem;
}

.home__content ul {
    margin-top: 2rem;
    list-style: none;
}

.home__content ul li {
    display: inline-block;
}

.home__photo {
    flex-shrink: 0;
}

.home__photo img {
    height: 100vh;
    opacity: .65;
    display: block;
    filter: grayscale(1);
}

@media(max-width: 991px) {
    .site__home {
        flex-wrap: wrap;
        padding: 1rem 2rem;
    }

    .home__content h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .home__content h1 img {
        float: left;
        width: 110px;
        display: block;
        margin-right: 0.5rem;
    }

    .home__content h1 span {
        font-size: 1rem;
    }

    .home__photo img {
        display: none;
    }
}